nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161A30;
    height: 70px;
    box-shadow: 4px 5px 9px 1px rgba(0,0,0,0.44);
}

.logo{
    margin-right: auto;
    padding-left: 10px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    margin-left: 12px;
    font-size: 18px;
    padding: 10px;
}
a:hover{
    color: #B6BBC4;
}